arXiv:1110.5626v1  [astro-ph.CO]  25 Oct 2011
KSUPT-11/5
October 2011
Constraints on dark energy from H II starburst galaxy apparent
magnitude versus redshift data
Data Mania1,2 and Bharat Ratra1
ABSTRACT
In this paper we use H II starburst galaxy apparent magnitude versus red-
shift data from Siegel et al. (2005) to constrain dark energy cosmological model
parameters. These constraints are generally consistent with those derived us-
ing other data sets, but are not as restrictive as the tightest currently available
constraints.
1.
Introduction
There is signiﬁcant observational evidence supporting the idea that we live in a spatially-
ﬂat Universe that is currently undergoing accelerated cosmological expansion. Most cosmol-
ogists believe that this accelerated expansion is powered by dark energy which dominates the
current cosmological energy budget (for reviews of dark energy see Tsujikawa 2010; Linder
2010; Blanchard 2010; Sapone 2010, and references therein).3
The energy budget of the “standard” model of cosmology — the spatially-ﬂat ΛCDM
model (Peebles 1984) — is currently dominated by far by dark energy: Einstein’s cosmolog-
ical constant Λ contributes more than 70 % of the budget. Nonrelativistic cold dark matter
(CDM) is the next largest contributor (more than 20 %), followed by nonrelativistic baryons
1Department of Physics, Kansas State University, 116 Cardwell Hall, Manhattan, KS 66506, USA mania,
ratra@phys.ksu.edu
2Center for Elementary Particle Physics, Ilia State University, 3-5 Cholokashvili Ave., Tbilisi 0179, Geor-
gia
3 Some, however, feel that this accelerated expansion is better viewed as an indication that the general
relativistic description of gravitation needs to be improved on (see de Felice & Tsujikawa 2010; Tsujikawa
2010; Jain & Khoury 2010, and references therein). In this paper we assume that general relativity provides
an adequate description of gravitation on cosmological scales.

– 2 –
(around 5 %). For a review of the standard model see Ratra & Vogeley (2008) and references
therein. It has been know for some time that the ΛCDM model is reasonably consistent with
most observational constraints (see, e.g., Jassal et al. 2010; Wilson et al. 2006; Davis et al.
2007; Allen et al. 2008, for early indications).4
However, the ΛCDM model appears to leave some conceptual questions unanswered.
One of these is that the naive energy density scale we expect from quantum ﬁeld theory
considerations is many orders of magnitude higher than the measured cosmological constant
energy density scale. Another is what is known as the coincidence puzzle: The energy density
of a cosmological constant does not change over time but the matter density decreases with
the cosmological expansion, so it is puzzle why we observers live at this seemingly special
time, when the dark energy and nonrelativistic matter densities happen to be of comparable
size.
These puzzles, and perhaps others, could be alleviated if we assume that the dark energy
density was higher in the past and slowly decreased in time, thus remaining comparable to
the nonrelativistic matter density for a longer time (Ratra & Peebles 1988). Many such time-
varying dark energy models have been proposed.5 In this paper, for illustrative purposes,
we consider two dark energy models and one dark energy parametrization.
In the ΛCDM model, time-independent dark energy — the cosmological constant —
may be modeled as a spatially homogeneous ﬂuid with equation of state parameter ωΛ =
pΛ/ρΛ = −1 (where pΛ and ρΛ are the ﬂuid pressure and energy density).
In an attempt to describe slowly decreasing dark energy, the dark energy ﬂuid equation
of state is extended to the XCDM X-ﬂuid parametrization.
Here, dark energy is again
modeled as a spatially homogeneous (X) ﬂuid, but now with an equation of state parameter
wX = pX/ρX, where wX(< −1/3) is an arbitrary constant and pX and ρX are the pressure
and energy density of the X-ﬂuid. When wX = −1 the XCDM parametrization reduces
to the complete and consistent ΛCDM model. For any other value of wX(< −1/3), the
XCDM parametrization is incomplete as it cannot describe spatial inhomogeneities (see, e.g.
Ratra 1991; Podariu & Ratra 2000). For computational simplicity, here we study the XCDM
parametrization in only the spatially-ﬂat cosmological case.
A slowly rolling scalar ﬁeld φ, with decreasing (in φ) potential energy density V (φ), can
4 The ΛCDM model assumes the “standard” CDM structure formation picture, which might be in some
observational diﬃculty (see, e.g., Peebles & Ratra 2003; Perivolaropoulos 2010).
5 For recent discussions see, e.g., Novosyadlyj et al. (2010), Harko & Lobo (2010), Keresztes et al. (2010),
Pettorino et al. (2010), Liu et al. (2010), Costa (2010), Farajollahi et al. (2011), and references therein.

– 3 –
be used to consistently model a gradually decreasing, time-evolving, dark energy density. An
inverse power-law potential energy density V (φ) ∝φ−α, where α is a non-negative constant,
provides a simple realization of this φCDM scenario (Peebles & Ratra 1988; Ratra & Peebles
1988). When α = 0 the φCDM model reduces to the corresponding ΛCDM case. For com-
putational simplicity, here we study the φCDM model in only the spatially-ﬂat cosmological
case.
Current observational data convincingly indicate that the cosmological expansion is ac-
celerating. The main support for accelerated expansion comes from three types of data:
supernova Type Ia (SNIa) apparent magnitude versus redshift measurements (see, e.g.,
Amanullah et al. 2010; Holsclaw et al. 2010; Wang et al. 2011; Guy et al. 2010); cosmic mi-
crowave background (CMB) anisotropy data (see, e.g., Podariu et al. 2001b; Komatsu et al.
2009; Liu et al. 2011; La Vacca & Bonometto 2011) combined with low estimates of the
cosmological matter density (see, e.g, Chen & Ratra 2003b); and, baryon acoustic oscil-
lation (BAO) peak length scale estimates (see, e.g., Samushia & Ratra 2009; Wang 2010;
Percival et al. 2010; Blake et al. 2011). However, the error bars associated with these three
kinds of data are still too large to allow for a signiﬁcant observational discrimination between
the ΛCDM model and the two simple time-varying dark energy models discussed above.
There are two major reasons to consider additional data sets.
First, it is of great
interest to check the above results by comparing to results derived from other data. If the
new constraints diﬀer signiﬁcantly from the old ones, this could mean that the model being
tested is observationally inconsistent, or it could mean that one of the data sets had an
undetected systematic error. Either of these is a signiﬁcant result. On the other hand, if
the constraints from the new and the old data are consistent, then a joint analysis of all the
data could result in signiﬁcantly tighter constraints, and so possibly result in signiﬁcantly
discriminating between constant and time-varying dark energy.
Other data that have recently been used to constrain dark energy models include strong
gravitational lensing measurements (e.g., Chae et al. 2004; Lee & Ng 2007; Zhang & Wu
2010; Biesiada et al. 2010), angular size as a function of redshift observations (e.g., Guerra et al.
2000; Chen & Ratra 2003a; Bonamente et al. 2006), Hubble parameter as a function of red-
shift measurements (e.g., Jimenez et al. 2003; Samushia & Ratra 2006; Sen & Scherrer 2008;
Samushia et al. 2007; Pan et al. 2010), galaxy cluster gas mass fraction data (e.g., Allen et al.
2008; Samushia & Ratra 2008; Ettori et al. 2009; Tong & Noh 2011), and large-scale struc-
ture observations (e.g., Baldi & Pettorino 2011; De Boni et al. 2011; Mortonson et al. 2011;
Brouzakis et al. 2010; Campanelli et al. 2011).
While constraints from these data are less restrictive than those derived from the SNeIa,
CMB and BAO data, both types of data result in largely compatible parameter restrictions

– 4 –
that generally support a currently accelerating cosmological expansion. This gives us con-
ﬁdence that the broad outlines of the “standard” cosmological model are now in place.
However, there is still ambiguity. Current observations are unable to diﬀerentiate between
diﬀerent dark energy models. For instance, while current data favor a time-independent
cosmological constant, they are unable to rule out time-varying dark energy.
More and
higher-quality data is needed to accomplish this important task.
It is anticipated that future space missions will result in signiﬁcantly more and better
SNeIa, BAO, and CMB anisotropy data (see, e.g., Podariu et al. 2001a; Samushia et al. 2011;
Wang et al. 2010; Astier et al. 2010). A complementary approach is to develop cosmological
tests that make use of diﬀerent sets of objects. Recent examples include the lookback time
test (e.g., Pires et al. 2006; Dantas et al. 2011) and the gamma-ray burst luminosity versus
redshft test (see, e.g. Schaefer 2007; Wang 2008; Xu & Wang 2010). Gamma-ray bursts, in
particular, are very luminous and can be seen to much higher redshift than the SNeIa and
so probe an earlier cosmological epoch. H II starburst galaxies are also very luminous and
can be seen to redshifts exceeding 3. Recent work has indicated that H II starbusrt galaxies
might be standardizable candles (Melnick et al. 2000; Terlevich et al. 2002; Melnick 2003),
because of the correlation between their velocity dispersion, Hβ luminosity, and metallicity
(Melnick 1978; Terlevich & Melnick 1981; Melnick et al. 1988).
In this paper we use H II galaxy data from Siegel et al. (2005) to constrain parameters
of the three dark energy models mentioned above. Plionis et al. (2009, 2010, 2011) have
used the Siegel et al. (2005) data to constrain the XCDM parametrization. Here we also
constrain parameters of the consistent and physically motivated ΛCDM and φCDM cosmo-
logical models. We also derive constraints on the parameters of these models and the XCDM
parametrization from a joint analysis of the Siegel et al. (2005) H II galaxy data and the
Percival et al. (2010) BAO peak length scale measurements.
In the next section we list the basic equations for the dark energy models we consider.
In Sec. 3 we discuss the analysis method used for the H II galaxy data and the resulting
constraints and how they compare with those from other cosmological tests.
Section 4
presents constraints from a joint analysis of H II and BAO data. Section 5 summarizes our
results.
2.
Dark energy model equations
The Friedman equation for the ΛCDM model with spatial curvature is
H(z, H0, p) = H0
p
Ωm(1 + z)3 + ΩΛ + ΩR(1 + z)2.
(1)

– 5 –
Here H0 is the Hubble constant and H(z) is the Hubble parameter at redshift z, Ωm, ΩΛ,
and ΩR = 1 −Ωm −ΩΛ are the nonrelativistic (baryonic and cold dark) matter, cosmolog-
ical constant, and space curvature energy density parameters, respectively, and the model
parameter set p = (Ωm, ΩΛ).
For the spatially-ﬂat XCDM parametrization, the Hubble parameter is
H(z, H0, p) = H0
q
Ωm(1 + z)3 + (1 −Ωm)(1 + z)3(1+wX ).
(2)
Here wX < −1/3 and the model parameter set p = (Ωm, ωX).
For the spatially-ﬂat φCDM case we have a coupled set of equations governing the scalar
ﬁeld and Hubble parameter evolution
¨φ + 3H ˙φ −κα
2Gφ−(α+1) = 0,
(3)
H(z, H0, p) = H0
q
Ωm(1 + z)3 + Ωφ(z).
(4)
Here we consider the inverse power law scalar ﬁeld (φ) potential energy density (Peebles & Ratra
1988) so
Ωφ(z) =
1
12H2
0

˙φ2 + κ
Gφ−α
,
(5)
where G is the Newtonian gravitational constant and α > 0 is a free parameter (that deter-
mines κ). In this case the model parameter set is p = (Ωm, α).
The distance modulus as a function of redshift is
µ(z, H0, p) = 25 + 5 log [3000(1 + z)y(z)] −5 log h,
(6)
where h is the dimensionless Hubble constant deﬁned from H0 = 100h km s−1 Mpc−1. In
the spatially open case y(z) is
y(z, p) =
1
√ΩR
sinh

p
ΩR
z
Z
0
dz′
E(z′)

,
(7)
where E(z) = H(z)/H0. When ΩR = 0 this reduces to y(z) =
zR
0
dz′/E(z′). The angular
diameter distance dA = cy(z)/[H0(1 + z)].

– 6 –
3.
Constraints from H II galaxy apparent magnitude data
We use the 13 µobs(zi) measurements of (Siegel et al. 2005), listed in Table 1, to con-
strain cosmological parameters by minimizing
χ2
HII(H0, p) =
13
X
i=1
[µobs(zi) −µpred(zi, H0, p)]2
σ2
i
.
(8)
Here zi is the redshift at which µobs(zi) is measured, µpred(zi, H0, p) is the predicted distance
modulus at the same redshift for the model under consideration, and σi is the average of the
upper and lower error bars listed in Table 1.
The Siegel et al. (2005) measurements listed in Table 1 are computed from
µobs = 2.5 log
 σ5
FHβ

−2.5 log
 O
H

−AHβ + Z0
(9)
where FHβ and AHβ are the Hβ ﬂux and extinction and O/H is a metallicity. Following
Plionis et al. (2011), for the zero point magnitude we use Z0 = −26.60, use Hubble constant
value H0 = 73 km s−1 Mpc−1 (and do not account for the associated uncertainty), and
also exclude two H II galaxies (Q1700-MD103 and SSA22a-MD41) that show signs of a
considerable rotational velocity component (Erb et al. 2006).
The best ﬁt parameter set p∗is where χ2
HII is at a minimum, χ2
min. The 1σ, 2σ, and 3σ
conﬁdence intervals, in the two-dimensional parameter space, are enclosed by the contours
where χ2 = χ2
min + ∆χ2 with ∆χ2 = 2.30, ∆χ2 = 6.17, and ∆χ2 = 11.8, respectively.
The H II galaxy data constraints on cosmological parameters are shown in Figs. 1—
3.
Our results generally agree with Plionis et al. (2011) for the XCDM parametrization
(compare our Fig. 2 and their Fig. 10). The small diﬀerences are due to the fact that in
our analysis we do not use specially weighted sigmas, but rather average distance moduli
uncertainties, and also ignore gravitational lensing eﬀects. Both analyses ignore small H0
uncertainties; these are not important for our illustrative purposes here, but should be
accounted for in an analysis of improved near-future H II galaxy data.
The H II galaxy data constraints in Figs. 1—3 are not as restrictive as those that
follow from SNeIa, BAO, or CMB anistropy data. They are, however, comparable to those
from Hubble parameter observations (see Chen & Ratra 2011b, and references therein) or
lookback time observations (see Samushia et al. 2010, and references therein), and somewhat
more restrictive than angular diameter distance constraints (see Chen & Ratra 2011a, and
references therein) and gamma-ray burst luminosity distance ones (see Samushia & Ratra
2010, and references therein). We again note that we have not accounted for the uncertainty

– 7 –
in H0 in our analysis, so the H II galaxy constraints derived here are a little more restrictive
than they really are.
However, our analysis clearly illustrates the potential constraining
power of near-future H II galaxy luminosity distance data.
4.
Joint constraints from BAO and H II galaxy data
To constrain observables using BAO data we follow the procedure of Percival et al.
(2010). With DV (z) = [(1 + z)2d2
Acz/H(z)]1/3, Percival et al. (2010) measure
DV (0.275) = (1104 ± 30)
 Ωbh2
0.02273
−0.134  Ωmh2
0.1326
−0.255
Mpc.
(10)
We use this to build the likelihood estimator LBAO with a Gaussian prior of Ωmh2 = 0.1326±
0.0063, and neglect the error for Ωbh2 as WMAP5 data constrains it to 0.5 % (Komatsu et al.
2009). The BAO data constraint contours are shown in Figs. 4—6.
To derive joint H II galaxy and BAO data constraints we maximize the products of
likelihoods L(p) = LHIILBAO, where LHII = e−χ2
HII/2, to get the best ﬁt set of parameters p∗,
and the 1, 2, and 3σ contours deﬁned as points where the likelihood equals e−2.30/2, e−6.17/2,
and e−11.8/2, respectively, of the maximum likelihood value. These contours are shown in
Figs. 4—6. Clearly, even adding currently available H II galaxy data to the mix tightens the
constraints.
5.
Conclusion
We have used the starburst galaxy luminosity distance data of Siegel et al. (2005) to
constrain cosmological parameters in some dark energy models. The resulting constraints
are largely consistent with those that follow from other currently available data although
they are not as restrictive as the constraints derived from SNeIa, BAO, and CMB anisotropy
data.
The Siegel et al. (2005) H II data are preliminary H II data. It is gratifying that they
result in interesting constraints on cosmological parameters. We anticipate that new, near-
future, H II galaxy data will provide very useful constraints on cosmological parameters that
will complement those derived using other data.
DM thanks Manolis Plionis, Glenn Horton-Smith, and Yun Chen for valuable sugges-
tions. We acknowledge support from DOE grant DEFG030-99EP41093, NSF grant AST-

– 8 –
1109275, and from the SNSF (SCOPES grant No 128040).
REFERENCES
Allen, S. W., et al. 2008, MNRAS, 383, 879
Amanullah, R., et al. 2010, ApJ, 716, 712
Astier, P., et al. 2010, arXiv:1010.0509 [astro-ph.CO]
Baldi, M., & Pettorino, V. 2011, MNRAS, 412, L1
Biesiada, M., Pi´orkowska, A., & Malec, B. 2010, MNRAS, 406, 1055
Blake, C., et al. 2011, arXiv:1108.2635 [astro-ph.CO]
Blanchard, A. 2010, A&A Rev., 18, 595
Bonamente, M., et al. 2006, ApJ, 647, 25
Brouzakis, N., et al. 2011, J. Cosmology Astropart. Phys., 1103, 049
Campanelli, L., et al. 2011, arXiv:1110.2310 [astro-ph.CO]
Chae, K.-H., et al. 2004, ApJ, 607, L71
Chen, G., & Ratra, B. 2003a, ApJ, 582, 586
Chen, G., & Ratra, B. 2003b, PASP, 115, 1143
Chen, Y., & Ratra, B. 2011a, arXiv:1105.5660 [astro-ph.CO]
Chen, Y., & Ratra, B. 2011b, Phys. Lett. B, 703, 406
Costa, F. E. M. 2010, Phys. Rev. D, 82, 103527
Dantas, M. A., et al. 2011, Phys. Lett. B, 699, 239
Davis, T. M., et al. 2007, ApJ, 666, 716
De Boni, C., et al. 2011, MNRAS, 415, 2758
de Felice, A., & Tsujikawa, S. 2010, Living Rev. Rel., 13, 3
Erb, D. K., et al. 2006, ApJ, 646, 107

– 9 –
Ettori, S., et al. 2009, A&A, 501, 61
Farajollahi, H., et al. 2011, Ap&SS, 563
Guerra, E. J., Daly, R. A., & Wan, L. 2000, ApJ, 544, 659
Guy, J., et al. 2010, A&A, 523, A7
Harko, T., & Lobo, F. S. N. 2010, Eur. Phys. J. C, 70, 373
Holsclaw, T., et al. 2010, Phys. Rev. Lett., 105, 241302
Jain, B., & Khoury, J. 2010, Annals Phys., 325, 1479
Jassal, H. K., Bagla, J. S., & Padmanabhan, T. 2010, MNRAS, 405, 2639
Jimenez, R., et al. 2003, ApJ, 593, 622
Keresztes, Z., et al. 2010, Phys. Rev. D, 82, 123534
Komatsu, E., et al. 2009, ApJS, 180, 330
La Vacca, G., & Bonometto, S. A.. 2011, Nucl. Phys. Proc. Suppl., 217, 68
Lee, S., & Ng, K.-W. 2007, Phys. Rev. D, 76, 043518
Linder, E. V. 2010, arXiv:1004.4646 [astro-ph.CO]
Liu, D.-J., Wang, H., & Yang, B. 2010, Phys. Lett. B, 694, 6
Liu, J., Li, M., & Zhang, X. 2011, J. Cosmology Astropart. Phys., 1106, 028
Melnick, J. 1978, A&A, 70, 157
Melnick, J. 2003, ASP Conf. Proc. Ser., 297, 3
Melnick, J., Terlevich, R., & Moles, M. 1988, MNRAS, 235, 297
Melnick, J., Terlevich, R., & Terlevich, E. 2000, MNRAS, 311, 629
Mortonson, M. J., Hu, W., & Huterer, D. 2011, Phys. Rev. D, 83, 023015
Novosyadlyj, B., et al. 2010, Phys. Rev. D, 82, 103008
Pan, N., et al. 2010, Class. Quantum Grav., 27, 155015
Peebles, P. J. E. 1984, ApJ, 284, 439

– 10 –
Peebles, P. J. E., & Ratra, B. 1988, ApJ, 325, L17
Peebles, P. J. E., & Ratra, B. 2003, Rev. Mod. Phys., 75, 559
Percival, W. J., et al. 2010, MNRAS, 401, 2148
Perivolaropoulos, L. 2010, J. Phys. Conf. Ser., 222, 012024
Pettorino, V., et al. 2010, Phys. Rev. D, 82, 123001
Pires, N., Zhu, Z.-H., & Alcaniz, J. S. 2006, Phys. Rev. D, 73, 123530
Plionis, M., et al. 2010, AIP Conf. Proc. 1241, 267
Plionis, M., et al. 2011, MNRAS, 416, 2981
Plionis, M., et al. 2009, J. Phys. Conf. Ser., 189, 012032
Podariu, S., Nugent, P., & Ratra, B. 2001a, ApJ, 553, 39
Podariu, S., et al. 2001b, ApJ, 559, 9
Podariu, S., & Ratra, B. 2000, ApJ, 532, 109
Ratra, B. 1991, Phys. Rev. D, 43, 3802
Ratra, B., & Peebles, P. J. E. 1988, Phys. Rev. D, 37, 3406
Ratra, B., & Vogeley, M. S. 2008, PASP, 120, 235
Samushia, L., Chen, G., & Ratra, B. 2007, arXiv:0706.1963 [astro-ph]
Samushia, L., et al. 2010, Phys. Lett. B, 693, 509
Samushia, L., & Ratra, B. 2006, ApJ, 650, L5
Samushia, L., & Ratra, B. 2008, ApJ, 680, L1
Samushia, L., & Ratra, B. 2009, ApJ, 701, 1373
Samushia, L., & Ratra, B. 2010, ApJ, 714, 1347
Samushia, L., et al. 2011, MNRAS, 410, 1993
Sanderson, C. 2010, Tech. rep., NICTA
Sapone, D. 2010, Int. J. Mod. Phys. A, 25, 5253

– 11 –
Schaefer, B. E. 2007, ApJ, 660, 16
Sen, A. A., & Scherrer, R. J. 2008, Phys. Lett. B, 659, 457
Siegel, E. R., et al. 2005, MNRAS, 356, 1117
Terlevich, R., & Melnick, J. 1981, MNRAS, 195, 839
Terlevich, E., Terlevich, R., & Melnick, J. 2002, Rev. Mex. A&A (Ser. Conf.), 12, 272
Tong, M., & Noh, H. 2011, Eur. Phys. J. C, 71, 1586
Tsujikawa, S. 2010, arXiv:1004.1493 [astro-ph.CO]
Wang, S., Li, X.-D., & Li, M. 2011, Phys. Rev. D, 83, 023010
Wang, Y. 2008, Phys. Rev. D, 78, 123532
Wang, Y. 2010, Mod. Phys. Lett. A, 25, 3093
Wang, Y., et al. 2010, MNRAS, 409, 737
Wilson, K. M., Chen, G., & Ratra, B. 2006, Mod. Phys. Lett. A, 21, 2197
Xu, L., & Wang, Y. 2010, J. Cosmology Astropart. Phys., 1011, 014
Zhang, Q.-J., & Wu, Y.-L. 2010, J. Cosmology Astropart. Phys., 1008, 038
This preprint was prepared with the AAS LATEX macros v5.2.

– 12 –
0.0
0.1
0.2
0.3
0.4
0.5
-0.5
0.0
0.5
1.0
1.5
Wm
WL
Fig. 1.— H II galaxy data 1, 2, and 3σ conﬁdence level contours in the (Ωm, ΩΛ) plane for
the ΛCDM model. The dotted line corresponds to the spatially-ﬂat ΛCDM case and the
shaded area in the upper left hand corner is the part of parameter space without a big bang.
The best-ﬁt point with χ2
min = 53.3 is indicated by the solid black circle at Ωm = 0.19 and
ΩΛ = 0.98.

– 13 –
0.0
0.1
0.2
0.3
0.4
0.5
-2.0
-1.5
-1.0
-0.5
Wm
w X
Fig. 2.— H II galaxy data 1, 2, and 3σ conﬁdence level contours in the (Ωm, wX) plane for
the spatially-ﬂat XCDM parametrization. The dotted line corresponds to the spatially-ﬂat
ΛCDM case. The best-ﬁt point with χ2
min = 53.3 is indicated by the solid black circle at
Ωm = 0.17 and wX = −0.86.

– 14 –
0.0
0.1
0.2
0.3
0.4
0.5
0
1
2
3
4
5
Wm
Α
Fig. 3.— H II galaxy data 1, 2, and 3σ conﬁdence level contours in the (Ωm, α) plane for the
spatially-ﬂat φCDM model. α = 0 corresponds to the spatially-ﬂat ΛCDM case. The best-ﬁt
point with χ2
min = 53.3 is indicated by the solid black circle at Ωm = 0.17 and α = 0.39.

– 15 –
0.15 0.20 0.25 0.30 0.35 0.40
-0.5
0.0
0.5
1.0
1.5
Wm
WL
Fig. 4.— Joint H II galaxy and BAO data (solid lines) and BAO data only (dashed lines) 1,
2, and 3σ conﬁdence level contours in the (Ωm, ΩΛ) plane for the ΛCDM model. Conventions
and notation are as in Fig. 1. The best-ﬁt point with −2 log(Lmax) = 55.2 is indicated by
the solid black circle at Ωm = 0.25 and ΩΛ = 0.95.

– 16 –
0.15 0.20 0.25 0.30 0.35 0.40
-2.0
-1.5
-1.0
-0.5
Wm
w X
Fig.
5.— Joint H II galaxy and BAO data (solid lines) and BAO data only (dashed
lines) 1, 2, and 3σ conﬁdence level contours in the (Ωm, wX) plane for the spatially-ﬂat
XCDM parametrization. Conventions and notation are as in Fig. 2. The best-ﬁt point with
−2 log (Lmax) = 53.5 is indicated by the solid black circle at Ωm = 0.25 and wx = −1.41.

– 17 –
0.15 0.20 0.25 0.30 0.35 0.40
0
1
2
3
4
5
Wm
Α
Fig. 6.— Joint H II galaxy and BAO data (solid lines) and BAO data only (dashed lines) 1,
2, and 3σ conﬁdence level contours in the (Ωm, α) plane for the spatially-ﬂat φCDM model
Conventions and notation are as in Fig. 3. The best-ﬁt point with −2 log(Lmax) = 55.6 is
indicated by the solid black circle at Ωm = 0.27 and α = 0.

– 18 –
Table 1: Siegel et al. (2005) H II starburst galaxy distance moduli and uncertainties
Galaxy
z
µobs ± σ
Q0201-B13
2.17
47.49+2.10
−3.43
Q1623-BX432
2.18
45.45+1.97
−3.07
Q1623-MD107
2.54
44.82+0.31
−1.58
Q1700-BX717
2.44
46.64+0.31
−1.58
CDFa C1
3.11
45.77+0.31
−1.58
Q0347-383 C5
3.23
47.12+0.44
−0.32
B2 0902+343 C12
3.39
46.96+0.71
−0.81
Q1422+231 D81
3.10
48.81+0.38
−0.40
SSA22a-MD46
3.09
46.76+0.56
−0.51
SSA22a-D3
3.07
49.71+0.43
−0.41
DSF2237+116a C2
3.32
47.73+0.25
−0.25
B2 0902+343 C6
3.09
45.22+1.38
−1.76
MS1512-CB58
2.73
47.49+1.22
−1.57
